@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/styles.css */

:root,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.header nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

.content {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
